<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDONPNBx6Fsw6UhH1nCTmGu58Y4oLMzxCk</string>
	<key>GCM_SENDER_ID</key>
	<string>276656688826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Fraga.Goff.FlavorFusion</string>
	<key>PROJECT_ID</key>
	<string>flavor-fusion-bdc29</string>
	<key>STORAGE_BUCKET</key>
	<string>flavor-fusion-bdc29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276656688826:ios:c6fb232d52a73245ba3c83</string>
</dict>
</plist>